#sequences {
  table {
    margin:0 auto;
    td {
      padding:4px 2em;
      text-align:center;
    }
    .alert-danger {
      text-align:center;
    }
  }
  .inputs {
    text-align:center;
    color:#555;
    font-size:1.4em;
    line-height:1.8em;
    letter-spacing:0.1em;
  }
  .controls {
    text-align:center;
    input {
      margin-bottom:1em;
    }
  }
}
